build/
build-release/
winbuild/
osxbuild/
releases/
emsdk/
.ctagsdb
.*DS_Store
__pycache__
*.out
*.kdev4
.kdev4/
*.kate-swp
*~
*-autosave.kra
*.swp
.VERSION
subprojects/.wraplock

# Generated runtime resource packs; editable sources live under atlas/.
/resources/00-taisei.pkgdir/gfx/**/*.ani
/resources/00-taisei.pkgdir/gfx/**/*.spr
/resources/00-taisei.pkgdir/gfx/*.zst
